<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="network_port" value="21700" />
      <add key="network_ip" value="10.60.102.252" />
    </appSettings>
</configuration>